.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow:0 1px 3px -2px black;


}
.nav-menu{
    display: flex;
    list-style:none;
    gap:50px;
    color: #626262;
    font-size: 20px;
    font-weight:500;

}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: #171717;
    font-size:38px;
    font-weight:600;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    
}
.nav-menu hr{
    width: 80%;
    height:5px;
    border-radius: 10px;
    border: none;
    color:#FF4141;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap:50px;
}
.nav-login-cart button{
    padding: 15px;
    background-color: transparent;
    border-radius: 75px;
    width:140px;
    font-size: larger;
}
.nav-login-cart button:hover{
    background-color: #f2f7f8f0;
}
.nav-cart-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    margin-top: -35px;
    margin-left: -55px;
    font-size: 14px;
    background-color: red;
    border-radius: 50%;
    color:white;
}
